[submodule "extern/pybind11"]
	path = extern/pybind11
	url  = https://github.com/pybind/pybind11.git
[submodule "extern/gpu-benchmarks"]
	path = extern/gpu-benchmarks
	url = https://github.com/sbcblab/gpu-benchmarks
